<md-toolbar class="test-books-dashboard-filter">
  <div layout="row" layout-align="stretch center" class="md-toolbar-tools">
    <h2 flex>Books List</h2>
    <md-select
      flex
      layout-padding
      ng-model="ctrl.filter.data.category"
      placeholder="Choose category"
      ng-change="ctrl.filter.onChange()">
      <md-option ng-value="null" >All categories</md-option>
      <md-option ng-value="category" ng-repeat="category in ctrl.categories">{{category}}</md-option>
    </md-select>
    <md-select
      flex
      layout-padding
      ng-model="ctrl.filter.data.genre"
      placeholder="Choose genre"
      ng-change="ctrl.filter.onChange()">
      <md-option ng-value="null" >All genres</md-option>
      <md-option ng-value="genre" ng-repeat="genre in ctrl.genres">{{genre}}</md-option>
    </md-select>
    <md-input-container 
      class="md-block"
      flex
      layout-padding
      md-no-float>
      <input
        type="text"
        ng-model="ctrl.filter.data.search"
        ng-change="ctrl.filter.onChange()"
        placeholder="Search by Title or Author"
        ng-model-options="{debounce: 500}">
    </md-input-container>
  </div>
</md-toolbar>

<md-content class="test-books-dashboard-list" test-common-infinite-scroll test-common-infinite-scroll-callback='ctrl.loadMore()'>
  <md-list ng-repeat="item in ctrl.list">
    <md-list-item class="md-3-line" layout-padding>
      <img class="test-books-dashboard-list-item-cover" src="{{item.cover}}" alt="{{item.name}}">
      <div class="md-list-item-text" layout="column">
        <h3>
          <a href="/books/{{item.id}}">{{item.name}}</a>
        </h3>
        <p>{{item.author.name}}</p>
        <p>Published on {{item.display.published}}</p>
      </div>
      <div class="md-secondary-container">
        <i class="material-icons md-secondary">thumb_up</i>
        <span>{{item.likes}}</span>
      </div>
    </md-list-item>
  </md-list>
</md-content>


