<md-card md-theme="default" md-theme-watch class="_md test-books-dashboard-item">
  <md-card-header>
    <md-card-avatar>
      <img class="md-user-avatar" src="{{ctrl.item.author.avatar}}" alt="{{ctrl.item.author.name}}">
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">{{ctrl.item.author.name}}</span>
      <span class="md-subhead">{{ctrl.item.display.published}}</span>
    </md-card-header-text>
  </md-card-header>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{ctrl.item.name}}</span>
      <span class="md-subhead">{{ctrl.item.genre.name}}, {{ctrl.item.genre.category}}</span>
    </md-card-title-text>
    <md-card-title-media>
      <div class="card-media">
        <img src="{{ctrl.item.cover}}" alt="{{ctrl.item.name}}">
      </div>
    </md-card-title-media>
  </md-card-title>
  <md-card-title>
    <md-card-title-text>
      <span class="md-subhead">Introdution</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <p ng-repeat="text in ctrl.item.introduction">{{text.content}}</p>
  </md-card-content>
  <md-card-title >
    <md-card-title-text>
      <span class="md-subhead">You might also be interested in</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-grid-list
        md-cols-xs="1" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="6"
        md-row-height="5:7"
        md-gutter="20px">
      <md-grid-tile ng-repeat="item in ctrl.list">
        <a href="/books/{{item.id}}">
          <img src="{{item.cover}}" alt="{{item.name}}">
        </a>
        <md-grid-tile-footer>
          <h3>{{item.name}}</h3>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </md-card-content>
</md-card>