.test-books-dashboard-filter {
  height: 60px;
}

.test-books-dashboard-list {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  font-size: 1.4rem;

  &-item {

    &-cover {
      max-width: 100px;
    }

  }

}

.test-books-dashboard-item {
  font-size: 1.4rem;

  .card-media {

    img {
      width: auto;
      max-height: 200px;
    }
    
  }

  p {
    font-size: 1.8rem;
    padding: 10px 0;
  }
}