$color-gray: rgba(153, 149, 139, 1);
$color-gray-50: rgba(153, 149, 139, 0.5);
$color-gray-30: rgba(153, 149, 139, 0.3);
$color-gray-20: rgba(153, 149, 139, 0.2);
$color-gray-10: rgba(153, 149, 139, 0.1);

$color-blue: rgba(36, 74, 154, 1);
$color-blue-50: rgba(36, 74, 154, 0.5);
$color-blue-30: rgba(36, 74, 154, 0.3);
$color-blue-20: rgba(36, 74, 154, 0.2);
$color-blue-10: rgba(36, 74, 154, 0.1);

$color-gray-light: #f4f4f3;
$color-gray-light-2: #e2e1de;
$color-blue-transparent: rgba(25, 74, 154, 0.75);
$color-blue-light-transparent: rgba(134, 159, 198, 0.75);
$color-white-transparent: rgba(255, 255, 255, 0.25);
$color-red: rgb(221,44,0);
$color-green: #008000;

// Hold our breakpoint aliases and conditions in a list.
//
// These can be invoked later on via the `media-query()` mixin
$breakpoints: (
  "portable"      "screen and (max-width: 1023px)",
  "desk"          "screen and (min-width: 1024px)",
  "desk-wide"     "screen and (min-width: 1280px)",
  "full-hd"       "screen and (min-width: 1920px)",
  "retina"        "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)"
) !default;



//-------------------- Variables of Colors
$test-red: #B30838;
$test-red-bright: #EF3E42;
$test-red-deep: #830036;
$test-pink: #F04B62;
$test-red-mid: #D1193D;
$test-red-puple: #8C1D40;
$test-red-dark: #680026;

@mixin font-light() {
  font-family: 'SourceSansProLight', sans-serif;
}
@mixin font-bold() {
  font-family: 'SourceSansProBold', sans-serif;
}
@function rem($multiplier) {
  $font-size: 10px;
  @return $multiplier * $font-size;
}

$test-layout-padding: 15px;
